body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
  }
  
  .spotify-player {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 0px;
    background-color: #000;
    color: #fff;
  }
  
  .main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .album-artwork img {
    width: 100%;
    height: auto;
    max-height: calc(100vh - 60px); /* Subtract any additional margins or paddings if present */
  }
  
  .audio-player-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: auto;
  }
  
  .audio-player {
    width: 100%;
    max-width: 600px; /* Adjust the max-width as needed */
  }
  
  /* Rest of your existing CSS styles */
  